.root {
    li {
        display: inline-block;

        a {
            display: inline-block;
            margin-right: 10px;
            line-height: 42px;
            width: 40px;
            height: 40px;
            text-align: center;
            color: #fe5d1edc;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;


            &:hover {
                background-color: #fe5f1e;
                color: #fff;

            }

        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
            }

        }
    }
}